.content .image img {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: 5px solid #fff;
    left: 17%;
  }
  .content .text b {
    position: fixed;
    font-size: 30px;
    margin-top: 4%;
    left: 27%;
  }
  
  .content .navbar {
    position: fixed;
    background: rgba(255, 0, 0, 0.3);
    top:31%;
    left:18.5%;
    width: 300px;
    height: 100%;
   
  }
  .navbar ul li:hover a {
    padding-left: 50px;
  }
  .content .navbar ul a {
      text-align:start;
      display: block;
      height: 100%;
      width: 100%;
      line-height: 65px;
      font-size: 20 px;
      color: saddlebrown;
      padding-left: 40px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      transition: 0.4s;
  }
  .content .account{
      position: fixed;
      left:40%;
      width: 900px;
    height: 100%;
    background-color: rgb(242, 170, 199);
  }
 
 
  .content .account .stats .ask{
    position: absolute;
    display: flex;
    width: 600px;
  height: 500px;
  background-color: rgb(196, 133, 187);
  top:20%;
  left:16%;
  flex-direction: row;
  align-items: flex-end;
  
  }
.content .account .stats .ask b{
  margin-left: 12%;
  margin-bottom: 10%;
  font-size: 50px;
  text-align: center;
}
