body{
    margin-top:0;
}
.content{
    width:100%;
}
.content .complete{
    margin-top:70px;
  width:100%;
  padding-left: 3em;
}

.content .complete .text {
  display: flex;
  flex-direction: column;

}
.content .complete form  {
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.content .complete label {
  display: block;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20%;
  font-weight: bold;

}
.content .complete textarea {
  display: block;
  width:100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 10%;
  font-size: 14px;
  font-weight: 300;
}

.content .complete .option  {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .content .complete .option select {
    display: block;
    height: 70px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10%;
 }

.buton {

    color: white;
    border-radius: 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: blueviolet;
    padding: 8px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 40px;
}

    .buton:hover {
        cursor: pointer;
        background-color: forestgreen;
        border-color: limegreen;
    }
