* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Bookman Old Style'; 
}

body {
    display: flex;
    background-color: #fefbd8;
}

.sidebar {
    margin-top: 70px;
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: #dac292;
}


    .sidebar header {
        font-size: 22px;
        color: white;
        text-align: center;
        line-height: 70px;
        background-color: #b9936c;
        user-select: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    }

    .sidebar ul a {
        display: block;
        width: 100%;
        line-height: 65px;
        font-size: 20 px;
        color: saddlebrown;
        padding-left: 40px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        transition: .4s;
    }

ul li:hover a {
    padding-left: 50px;
}

.content {
    margin-top: 70px;
    margin-left: 250px;

}

.main-header {
    position: fixed;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #7e4a35;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}