a {
    text-decoration: none;
    color: black;
}

.content {
    margin-top: 100px;
    margin-left:280px;
    width: 100%;
    margin-right: 1.3em;
    box-sizing:border-box;

}
.context {
    padding-left:5px;
}
h1, h4, ol {
    margin: 0;
}
.title hr{
    margin-right: 1.3em;
}
.content .title {
    color: black;
}

p {
    margin: 5px 0;
}

textarea {
    width: 100%;
    height: 80px;
}
.addComment{
    display:inline;
}

button {
    display: block;
    border-bottom: 2px solid black;
}

.top-bar {
    background-color: skyblue;
    padding: 0 40px;
}

.main {
    background-color: #F6F6EF;
    padding: 10px 40px;
}
h4 .like{
    
    font-size: 20px;

}
.nrLike {
    font-size: 16px;
    font-weight:normal;
}
.comment .nrLike{

}
.like {
    background-color: #dac292
}
form {
    width: 80%;
}

.comment {
    margin: 10px 0;
}
.afterQ {
    margin-top: 4px;
    border-bottom:2px solid black;
}

.row, .row:hover {
    border-radius: 3px;
    padding: 0;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 1em;
    width: 100%;
    padding: 5px 3px;
    background-color: antiquewhite;
}
.tag:hover {
    background-color: inherit;
}
.comment-bottom{
    display: flex;  
}
.comment-bottom .like{
    padding: 0px;
    font-size: 13px;
}
.comment-bottom .nrLike{
    font-size: 13px;
    color: dimgrey;
}

 .top-comment {
    display: flex;
    color: grey;
    font-size: 12px;
}

.timestamp {
    padding-right: 10px;
}

.comment-ts {
    padding-left: 10px;
}
span input {
    background-color: #dac292;
    line-height: 25px;
    font-size:20px;
}

